* {
  margin: 0;
}

body {
  width: 100%;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p, li {
  font-family: 'Roboto Slab', serif;
}

.nav {
  position: absolute;
  border: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  right: 5%;
  padding-top: 3em;
  z-index: 1;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  color: #f4f4f4;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.nav a:active {
  color: #e6d1cc;
}

.imgContainer {
  background-image: url(../images/HeadImage.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.innerContainer {
  color: #f4f4f4;
  height: auto;
  padding-left: 3em;
  text-align: left;
  display: inline-block;
}

.nameTitle {
  display: inline-block;
  margin-top: 35%;
}

.innerContainer h1 {
  font-size: 5em;
}

.innerContainer p {
  font-size: 2em;
}

.profilePic {
  height: 10em;
  border-radius: 50%;
  position: relative;
  border: 5px solid #f4f4f4;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 2em;
  margin-left: 1em;
}

.summary {
  height: auto;
  margin: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 1em;
}

.summary h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
  height: auto;
}

.summary p {
  text-align: center;
  height: auto;
}

/* .menuItems {
  list-style: none;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.menuItems img {
  height: auto;
  width: 45vw;
} */

.menuItems {
  position: relative;
  overflow: hidden;
  margin: 5% auto 0;
  display: block;
  text-align: center;
}

.menuItems a {
  display: block;
}

.picture {
    width: 40vw;
    display: block;
}

.firstImage {
  height: auto;
  margin: 1em;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #848484;
}

.firstImage:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}











.footerContacts {
  text-align: center;
  padding: 2em;
  background-color: #383838;
  color: #f4f4f4;
  margin: 1em;
  height: auto;
}

.footerContacts h2 {
  height: 10%;
  margin: auto;
  padding: 5px;
  border: auto;
  font-size: 2em;
}

.footerContacts li {
  list-style: none;
  margin-top: 1em;
  padding: 1em;
  text-align: right;
  display: inline;
  font-size: 1.5em;
}

.footerContacts a {
  color: #f4f4f4;
}

.footerContacts a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.footerContacts a:active {
  color: #e6d1cc;
}


@media (max-width: 600px) {

  .imgContainer {
    width: 100vw;
  }

  .innerContainer {
    width: auto;
    padding-top: 30%;
  }

  .innerContainer h1 {
    font-size: 2em;
    padding: 0;
  }

  .nav {
    width: auto;
    padding-top: 1em;
  }

  .nav .socials {
    display: none;
  }

  .nameTitle {
    display: inline-block;
    margin-top: 5%;
  }

  .innerContainer {
    text-align: center;
    padding: 0;
    padding-top: 10em;
  }

  .innerContainer h1 {
    font-size: 4em;
  }

  .innerContainer p {
    font-size: 1.5em;
  }

  .firstImage img {
    width: 100vw;
    padding-bottom: 1em;
  }

  .firstImage {
    margin: auto;
  }

  .profilePic {
    margin-top: -1em;
    height: 15em;
    border-radius: 50%;
  }

  .summary {
    text-align: center;
  }

  .summary p {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
  }

  .menuItems img{
    width: 100vw;
    overflow: hidden;
    padding-bottom: 1em;
  }

  .footerContacts {
    padding: 5%;
    margin: 5%;
  }

  .footerContacts h2 {
    font-size: 1em;
  }

  .footerContacts li {
    font-size: 1em;
  }
}
