body {
  background-color: #f4f4f4;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav {
  position: absolute;
  border: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  right: 5%;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  color: #f4f4f4;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.nav a:active {
  color: #e6d1cc;
}
/* Getting a fucked problem with this part when viewing in ipad  */
.quoting {
  position: fixed;
  font-size: 0.5em;
}

.fullScreenImage {
  overflow: hidden;
  height: 100vh;
}

.fullScreenImage img {
  position: relative;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.fullScreenImage .quoting {
  position: absolute;
  bottom: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2em;
}

.summary {
  text-align: center;
  margin: 10%;
  color: #383838;
}

.menuItems {
  list-style: none;
  padding: 0;
}

.menuItems #firstImage {
  margin-bottom: 1em;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
}

.menuItems #secondImage {
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  margin-bottom: 2em;
}

.footerContacts {
  text-align: center;
  padding: 1em;
  background-color: #383838;
  color: #f4f4f4;
  margin: 1em;
}

.footerContacts li {
  list-style: none;
  margin: 0;
  padding: 1em;
  text-align: right;
  display: inline;
}

.footerContacts a {
  color: #f4f4f4;
}

.footerContacts a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.footerContacts a:active {
  color: #e6d1cc;
}

@media (max-width: 500px) {
  .quoting {
    font-size: 1em;
  }

  .fullScreenImage {
    width: 100vw;
    overflow: hidden;
  }

  .fullScreenImage img {
    width: 250vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  .nav .socials {
    display: none;
  }
}
