body {
  background-color: #f4f4f4;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p, li {
  font-family: 'Roboto Slab', serif;
}

.nav {
  position: absolute;
  border: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  right: 5%;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  color: #383838;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.nav a:active {
  color: #e6d1cc;
}

.header {
  margin: 1em;
}

.selectors {
  position: relative;
  overflow: hidden;
  margin: 5% auto 0;
  display: block;
  text-align: center;
}

.selectors a {
  display: block;
}

.picture {
    width: 40vw;
    display: block;
}

.firstImage {
  height: auto;
  margin: 1em;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #848484;
}

.firstImage:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}






.footerContacts {
  text-align: center;
  padding: 1em;
  background-color: #383838;
  color: #f4f4f4;
  margin: 1em;
}

.footerContacts li {
  list-style: none;
  margin: 0;
  padding: 1em;
  text-align: right;
  display: inline;
}

.footerContacts a {
  color: #f4f4f4;
}

.footerContacts a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.footerContacts a:active {
  color: #e6d1cc;
}

@media (max-width: 1000px) {
  .overlay p {
    font-size: 1em;
  }
}


@media (max-width: 500px) {
  .nav .socials {
    display: none;
  }

  .header {
    display: inline-block;
    position: relative;
    top: 1em;
    right: 0;
    padding-bottom: 1em;
  }

  .selectors {
    display: inline-block;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .firstImage img {
    width: 100vw;
    padding-bottom: 1em;
  }

  .firstImage {
    margin: auto;
  }
}
