  body {
  background-color: #f4f4f4;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav {
  position: absolute;
  border: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  right: 5%;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  color: #f4f4f4;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.nav a:active {
  color: #e6d1cc;
}

.footerContacts {
  text-align: center;
  padding: 1em;
  background-color: #383838;
  color: #f4f4f4;
  margin: 1em;
}

.footerContacts li {
  list-style: none;
  margin: 0;
  padding: 1em;
  text-align: right;
  display: inline;
}

.footerContacts a {
  color: #f4f4f4;
}

.footerContacts a:hover {
  text-decoration: underline;
  text-decoration-color: #e6d1cc;
}

.footerContacts a:active {
  color: #e6d1cc;
}

@media (max-width: 500px) {
  .quoting {
    font-size: 1em;
  }

  .fullScreenImage {
    width: 100vw;
    overflow: hidden;
  }

  .fullScreenImage img {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;
  }

  .nav .socials {
    display: none;
  }

  .summary h2{
    text-align: center;
  }

  .summary p {
    text-align: center;
    margin: 3em;
  }

  .images img{
    width: 100%;
    overflow: hidden;
  }

  .images {
    text-align: center;
  }

  .images p {
    padding-bottom: 2em;
  }

  .images h3 {
    padding-top: 1em;
  }
}
